.target {
  width: 20px;
  height: 20px;
  border: 0px solid #808080;
}

.goal-0 {
  background-color: red;
  width: 40px;
  height: 40px;
}

.goal-0::after{
  content: "Goal";
  display: flex;
  margin-left: 8%;
  margin-top: 20%;
}
.goal-1 {
  background-color: blue;
}


.goal-0:hover {
    background-color: rgb(199, 199, 11);
}

/*  Blinker */

.blinking {
    animation: colorChange 0.8s infinite;
}

@keyframes colorChange {
    0% {
      background-color: red;
    }
    75% {
      background-color: yellow;
    }
    100% {
      background-color: red;
    }
  }